@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif; 
}



/*                       NAVIGATION BAR                     */




/* Styling/layout of header */
header {
    display:flex;
    align-items: center;
    background-image: linear-gradient(270deg, hsla(256, 45%, 40%, 0.833), hsla(255, 92%, 38%, 0.96));
    padding: 15px 10px;
   
}



/* Making navigation links side-by-side */
.nav-links li {
    display:inline-block;
    padding: 0 10px;
  
}

/* Styling the logo */
.logo{
    max-height: 50px;
    max-width:50px;
    margin-right: -20px;
    cursor:pointer;
}

/* Removing underline from navigation links and styling */
li, a{
    text-decoration: none;
    color:#FFF; 
    font-weight: bold;
    
}