/*                          PAGE CONTENT                 */

/* Styling page title */
#page-title {
    text-align: center;
    font-size: 60px;
    
}


/* Page layout */
.page-content {
    margin: 50px 60px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}


/* to do: edit border */
.dBoxes {
    background-color:hsl(255, 59%, 57%);
    border: 1px solid #5C4891 hsla(256, 45%, 40%, 0.833);
    color: white;
    text-align: center;
    padding: 10px;
    width:300px;
    height: 20%;
    margin: 20px 10px;    
}



.roles-box {
    border:10px solid #5C4891 hsla(256, 50%, 30%, 0.36);
    background-color:  hsla(256, 50%, 30%, 0.36);
    border-radius: 5px;
    padding: 8px 1px;
    margin: 10px;
    cursor:pointer;

}



/* Styling profile roles to be bold */
.role-weight {
    font-weight: bolder;
    font-size: 18px;
}


.roles-box:hover {
    background-color: hsla(0, 0%, 10%, 0.32);
    
}

h2 {
    font-weight: 1000px;
    font-size:25px;
}


.footer{
    background-image: linear-gradient(270deg, hsla(256, 45%, 40%, 0.833), hsla(255, 92%, 38%, 0.96));
    color:#FFF;
    /* height: 100px; */
    /* border-radius: 30px; */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:100px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.footer-content h3 {
    font-size: 25px;
    /* font-weight: 2000x; */
    margin: 10px;
}

.socials-list {
    list-style: none;
    display:flex;
    justify-content: center;
    gap: 10px;
    margin-right: 60px;
    margin-top:5px;
    margin-bottom: 5px; 
    
    
}


.footer-content p {
    margin-right: 20px;
    
}
