<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departments</title>
    <!-- Adding a favicon-->
    <link rel="shortcut icon" href="//skills-cityportal.com/pluginfile.php/1/theme_tltitan/favicon/1655987184/in4-circle-logo-100x100.png" />
    <!-- Adding icon library -->
    <script src="https://kit.fontawesome.com/98a48b4441.js" crossorigin="anonymous"></script>
    {{>navbar}}
    <link rel="stylesheet" type="text/css" href="css/departments.css">
</head>
<body>
     <h1 id="page-title">Departments</h1>

<div class="page-content">
    




   

    <div class="dBoxes">
        <h2>Events</h2>
        <div class="roles-box">
            <p class="role-weight" >Director of Facilities</p>
            <p>Employees: 1</p>
        </div>
        <div class="roles-box">
            <p class="role-weight">Events Manager</p>
            <p>Employees: 1</p>
        </div>
        <div class="roles-box">
            <p class="role-weight">Events Coordinator</p>
            <p>Employees: 2</p>
        </div>
    </div>
    <div class="dBoxes">
        <h2>HR</h2>
        <div class="roles-box">
            <p class="role-weight">Director of Operations and People</p>
            <p>Employees: 1</p>
        </div>
        <div class="roles-box">
            <p class="role-weight">HR Manager</p>
            <p>Employees: 1</p>
        </div>
    </div>
    <div class="dBoxes"> 
        <h2>Innovation</h2>
        <div class="roles-box">
            <p class="role-weight">Director of Programmes</p>
            <p>Employees: 1</p>
        </div>
        <div class="roles-box">
            <p class="role-weight">Innovation Community Manager</p>
            <p>Employees: 1</p>
        </div>
        <div class="roles-box">
            <p class="role-weight">Innovation Techincal Manager</p>
            <p>Employees: 1</p>
        </div>
        <div class="roles-box">
            <p class="role-weight">Senior Programmes Manager</p>
            <p>Employees: 1</p>
        </div>
        <div class="roles-box">
            <p class="role-weight">Senior Programmes Coordinator</p>
            <p>Employees: 2</p>
        </div>
    </div>
    <div class="dBoxes">
        <h2>Marketing</h2>
        <div class="roles-box">
            <p class="role-weight">Director of Marketing</p>
            <p>Employees: 1</p>
        </div>
        <div class="roles-box">
            <p class="role-weight">Marketing Manager</p>
            <p>Employees: 3</p>
        </div>
        <div class="roles-box">
            <p class="role-weight">Marketing Associate</p>
            <p>Employees: 5</p>
        </div>     
    </div>
    <div class="dBoxes">
        <h2>Sales</h2>
        <div class="roles-box">
            <p class="role-weight">Sales Manager</p>
            <p>Employees: 1</p>
        </div>
        <div class="roles-box">
            <p class="role-weight">Sales Manager - Programmes</p>
            <p>Employees: 1</p>
        </div>
        <div class="roles-box">
            <p class="role-weight">Client Relationship Manager</p>
            <p>Employees: 1</p>
        </div>
        <div class="roles-box">
            <p class="role-weight">Sales Executive</p>
            <p>Employees: 3</p>
        </div>
    </div>


    <div class="dBoxes">
        <h2>Skills City</h2> 
        <div class="roles-box">
            <p class="role-weight">Director of Education</p>
            <p>Employees: 1</p>
        </div>
        <div class="roles-box">
        <p class="role-weight">Training Manager</p>
        <p>Employees: 1</p>
        </div>
        <div class="roles-box">
        <p class="role-weight">Digital Technician</p>
        <p>Employees: 6</p>
        </div>
        <div class="roles-box">
        <p class="role-weight">Data Administration</p>
        <p>Employees: 1</p>
        </div>
        <div class="roles-box">
        <p class="role-weight">Delivery Manager</p>
        <p>Employees: 1</p>
        </div>
    </div>


    
</div>







    <footer class="footer">
        <div class="footer-content">
            <h3><a aria-label="Home page link" href="index.html">IN4.0 GROUP</a></h3>
            <ul class="socials-list" aria-label="social links">
                <li><a aria-label="linkedin" href="https://www.linkedin.com/company/in4group/" target="_blank"><i class="fa-brands fa-linkedin"></i> </a></li>
                <li><a aria-label="facebook" href="https://www.facebook.com/IN40Group/" target="_blank"><i class="fa-brands fa-square-facebook"></i></i></a></li>    
                <li><a aria-label="twitter" href="https://twitter.com/IN4_Group" target="_blank"><i class="fa-brands fa-square-twitter"></i></a></li>
                <li><a aria-label="youtube" href="https://www.youtube.com/channel/UC0lJRqPmVFPR1OAgTEaU-hA" target="_blank"><i class="fa-brands fa-square-youtube"></i></a></li>
                <li><a aria-label="instagram" href="https://www.instagram.com/in4group/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a></li>
            </ul>
            <p><a aria-label="site links" href="site-links.html" target="blank">Site Links</a></p>
        </div>
    </footer>
    
</body>
</html>