<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IN4.0 Group Limited: Log in</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    {{>navLandingPage}}
    

</head>
<body>
    <a href="/">Home</a>
    <h1>hello world</h1>

   
   
    <div class="page-links">
        <a href="/login">Log in</a>
        <a href="/qualifications">Qualifications</a>
        <a href="/employee">Employee</a>
    </div>
    
   
    


   


     {{>footer}}
</body>
</html>