<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="login.css">
    <!-- Adding a favicon-->
    <link rel="shortcut icon" href="//skills-cityportal.com/pluginfile.php/1/theme_tltitan/favicon/1655987184/in4-circle-logo-100x100.png" />
    <!-- Adding icon library -->
    <script src="https://kit.fontawesome.com/98a48b4441.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>

    <section>
        <div class="page-section">
            <img class="logo" src="https://in4group.co.uk/wp-content/uploads/2018/09/IN4.0_Logo_Group_Purple_RGB-1.png" alt="logo">
        </div>

        <div class="container-form">
            <h1>Welcome Back!</h1>
            <form action="#">
                <div class="info">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username">
                </div>
                <div class="info">
                    <label for="psw">Password</label>
                    <input type="text" name="password" id="pws">
                </div>
                <span><input type="checkbox"> Remember Me</span>
                <div class="info">
                    <input type="submit" value="LOGIN">
                </div>
            </form>
            <div class="reset-link">
                <a href="#">Forgot Password</a>
            </div>

        </div>
    </section>
    
</body>
</html>