<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" type="text/css" href="css/footer.css">
    <!-- Adding icon library -->
    <script src="https://kit.fontawesome.com/98a48b4441.js" crossorigin="anonymous"></script>
</head>
<body>
    <footer class="footer">
        <div class="footer-content">
            <h3><a aria-label="Home page link" href="index.html">IN4.0 GROUP</a></h3>
            <ul class="socials-list" aria-label="social links">
                <li><a aria-label="linkedin" href="https://www.linkedin.com/company/in4group/" target="_blank"><i class="fa-brands fa-linkedin"></i> </a></li>
                <li><a aria-label="facebook" href="https://www.facebook.com/IN40Group/" target="_blank"><i class="fa-brands fa-square-facebook"></i></i></a></li>    
                <li><a aria-label="twitter" href="https://twitter.com/IN4_Group" target="_blank"><i class="fa-brands fa-square-twitter"></i></a></li>
                <li><a aria-label="youtube" href="https://www.youtube.com/channel/UC0lJRqPmVFPR1OAgTEaU-hA" target="_blank"><i class="fa-brands fa-square-youtube"></i></a></li>
                <li><a aria-label="instagram" href="https://www.instagram.com/in4group/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a></li>
            </ul>
            <p><a aria-label="site links" href="site-links.html" target="blank">Site Links</a></p>
        </div>
    </footer>
</body>
</html>